@model FacturacionElectronica.Entities.Empleado

@{
    ViewBag.Title = "Edit";
}

<h2>Habilitar empleado:</h2>
<p> @Html.DisplayFor(model => model.nombres)   @Html.DisplayFor(model => model.apellidos)</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <b>Habilitar</b>
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Usuario.habilitado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Usuario.habilitado, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.idUsuario)

        @Html.HiddenFor(model => model.Usuario.email)
        @Html.HiddenFor(model => model.Usuario.id)
        @Html.HiddenFor(model => model.Usuario.idRol)
        @Html.HiddenFor(model => model.Usuario.password)
        @Html.HiddenFor(model => model.Usuario.userName)
        @Html.HiddenFor(model => model.Usuario.fechaCreacion)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index", "Empleados", null)" class="text-default"><i class="fa fa-arrow-left"></i>Regresar</a>
                <button type="submit" value="Create" class="btn btn-success">Guardar <i class="fa fa-check"></i></button>
            </div>
        </div>
    </div>
}

