@model IEnumerable<FacturacionElectronica.Entities.Producto>

@{
    ViewBag.Title = "Index";
}
<h2>Productos</h2>
<span>
    <a href="@Url.Action("Create", "Productos", null)">Nuevo<i class="fa fa-plus text-success"></i></a>
</span>
<hr />
<table id="DataTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                Categoría
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.nombre)
                </td>
                <td>
                    @string.Format("{0:C}", item.precio)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Productos", new { id = item.id })" title="Detalle"><i class="fa fa-eye text-success-new"></i></a>
                    <a href="@Url.Action("Edit", "Productos", new { id = item.id })" title="Editar"><i class="fa fa-edit text-warning"></i></a>
                    <a href="@Url.Action("Delete", "Productos", new { id = item.id })" title="Borrar"><i class="fa fa-trash text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>


